header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 85px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

body {
  background-color: F7F6FF;
}

.header_articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  width: 385px;
  height: 24px;
  top: 30px;
  left: 536px;
  font: manrope;
  font-weight: 500px;
  font-size: 16px;

}





.blue_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 50vw;
}

#first_button {
  width: 50vw;
}

#second_button {
  width: 20vw;
}

#third_button {
    width: 30vw;
}

.firstBigDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
 
  height: 325px;
  top: 167px;
  left: 113px;
}

.firstLeftdiv h1 {
  border-radius: nullpx;
  width: 463px;
  height: 127px;
  left: 113px;
  top: 193px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 65px;
}

.firstLeftdiv span {
  text-transform: uppercase;
  width: 50vw;
}

.firstLeftdiv h4 {
  width: 303px;
  height: 24px;
  left: 116px;
  top: 334px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.image-undrow {
  width: 50vw;
  height: 325px;
  left: 727px;
  top: 170px;
}

.firstLeftdiv button {
  height: 54px;
  left: 489px;
  top: 387px;
  background: #77b2d3;
  border-radius: 250px;
}

.aboutDesign {  
  height: 254px;
  left: 115px;
  top: 583px;
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.design {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.item1 {
  width: 551px;
  height: 48px;
  left: 170px;
  top: 624px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  width: 551px;
  height: 48px;
  left: 170px;
  top: 624px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
}

.item2 {
  width: 133px;
  height: 24px;
  left: 170px;
  top: 757px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item2 span {
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: 103px;
  height: 48px;
  left: 168px;
  top: 706px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}

.item3 {
  width: 223px;
  height: 24px;
  left: 430px;
  top: 757px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item3 span {
  width: 188px;
  height: 48px;
  left: 428px;
  top: 706px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.item4 {
  width: 145px;
  height: 24px;
  left: 780px;
  top: 757px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item4 span {
  width: 138px;
  height: 48px;
  left: 778px;
  top: 706px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.item5 {
  width: 162px;
  height: 24px;
  left: 1052px;
  top: 757px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item5 span {
  width: 127px;
  height: 48px;
  left: 1050px;
  top: 706px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  
  align-items: center;
  border: radius 20px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  left: 115px;
}

.box {

  left: 591px;
  top: 1001px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.boxTop {
  width: 220px;
  height: 74px;
  left: 829px;
  top: 1001px;
  background: #77b2d3;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px 15px 0px 0px;
}

.boxBottom {
  height: 304px;
  padding-top:10px; bottom: 10px;
  padding-left:20px; right: 20px;
  
}

.table_box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h5 {
  margin-top: 0;
  width: 78px;
  height: 52px;
  left: 43px;
  top: 54px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

body button {
  width: 195px;
  height: 54px;
  left: 601px;
  top: 1400px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  border-radius: 9px;
}

.sum {
  width: 174px;
  height: 24px;
  left: 131px;
  top: 1340px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 24px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.thirdBigDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;

  left: 115px;
  top: 1544px;
}

.input1,
.input2 {
  width: 270px;
  height: 59px;
  left: 115px;
  top: 1710px;
  border-radius: 10px;
  margin-top: 20px;
}

.input3 {
  width: 570px;
  height: 141px;
  left: 115px;
  top: 1789px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 10px;
}

.lastBigDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.last_boxes {
  width:50vw;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}


.middle_div {
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.result {
  padding-left: 20px;
}

.persent_text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F3F1FE;;
}

.boxes_logos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo {
  padding-top: 20px;
  padding-left: 20px;
}

.last_boxes p {
  padding-left: 20px;
}

.boxes_text {
  padding-left: 20px;
}

.footerBigDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 321px;
  left: 0px;
  top: 2866px;
  background: #ffffff;
}

.footer_boxes {
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 10px;
  align-items:flex-start;
  width: 30vw;

}


.footerBigDiv img {
  width: 325px;
  height: 70px;
  left: 103px;
  top: 2918px;
  background: url(image.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lastText {
  text-align: center;
  color: white;
  background-color: #2d2d2d;
  padding-top: 10px;
  height: 41px;
  left: 25px;
  top: 3201px;
}

.imageRightSide {
  width: 50vw;
}
 .imageRightSide  img {
  width: 100%;
}

.leftItems {
  width: 50vw;
}

main {
  padding-left: 5vw;
  padding-right: 5vw;
}

.buttons_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

}



.forms {
  display: flex;
  flex-direction: column;
}

.input_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label_checkMark {
  display: flex;
  flex-direction: row;
 
}

.Agreement {
  padding-left: 10px;
}
.javascript {
  color: red;
}

@media (min-width: 768px) {
}

@media (max-width: 1000px) {
}
